// https://ramseyinhouse.github.io/scut/reset.html
// https://github.com/lampo/gazelle-design-system/blob/master/sass/core/_base.scss
@import 'node_modules/normalize.css/normalize';
@include scut-reset-border-box; // Make everything a border-box
@include scut-reset-button; // Remove default button styling
@include scut-reset-figure; // Remove default margins from figure
@include scut-reset-form; // Reset fieldset and restrict textarea to vertical resizing
@include scut-reset-media; // Make <img> and <video> elements fluid-by-default
@include scut-reset-pointer; // Give clickable elements cursor: pointer

:root {
  --outer-margin: #{spacer(4)};
}

img,
canvas,
iframe,
video,
svg,
select {
  max-width: 100%;
}

html {
  background-color: $rds-color-base-gray-80;
  color: $rds-color-base-white;
  font-family: $rds-font-family-default;
  font-size: 100%;
}

body {
  line-height: $rds-size-line-height-lg;
  font-size: $rds-size-font-4;
  -webkit-font-smoothing: antialiased; // stylelint-disable-line no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale; // stylelint-disable-line no-vendor-prefixes
}

blockquote,
dl,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
menu,
p,
pre,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $rds-font-family-header-default;
  font-size: $rds-size-font-4;
  font-weight: $rds-font-weight-semibold;
}

b,
strong {
  font-weight: $rds-font-weight-semibold;
}

a {
  color: $rds-color-base-blue-50;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  /* stylelint-disable selector-no-qualifying-type */
  &.in-modeDark {
    color: $rds-color-base-white;
  }
  /* stylelint-enable selector-no-qualifying-type */
}

small,
sub,
sup {
  font-size: $rds-size-font-2;
}

button,
input,
optgroup,
select,
textarea {
  line-height: $rds-size-line-height-md;
}
